.contact {
	padding: 100px 20px;
}

textarea, input {
	width: 100%;
	padding: 14px;
	margin-bottom: 10px;
	margin-top: 10px;
	border: 1px solid #f0e9ff;
	border-radius: 5px;
	padding-left: 18px;
	font-size: 13px;
	background: transparent;
	color: #495057;
}

textarea:focus, input:focus {
	outline: 0;
}

.section-title {
	margin-top: 20px;
	font-size: 42px;
	font-weight: 700;
	margin-bottom: 20px;
	color: #05364e;
	text-transform: capitalize;
}

.half-flex {
	display: flex;
}

.firstname {
	padding-right: 15px;
	flex: 1;
}

.email{
	padding-left: 15px;
	flex: 1;
}

.contact-send {
	margin-top: 30px;
}

@media only screen and (max-width: 991px) {
	.half-flex {
		flex-direction: column;
	}

	.contact .firstname, .email {
		padding: 0;
	}
}